.body{
background-color:  hsl(30, 38%, 92%);

}
.header{
    position: relative;
    font-size: larger;
      background-color: hsl(0, 0%, 100%);
     padding: 10px , 20px ,30px;
 
     border-radius: 9px ;
     margin-top: 100px;
     width: 600px;
     min-height: 480px;
     margin: 0 auto;
     margin-top:140px ;
     margin-bottom: 80px;
    font: 1em sans-serif;
}
.divv{
    position: absolute;
  
  border-radius: 9px 0px 0px 9px;
}
.div{
    position: absolute;
}

.h2{
    margin-left:320px;
    margin-top: 30px;
white-space:pre-wrap ;
 font-size: 33px;
font-weight: 700;
font-family: Montserrat;
 
}
.parf{
    margin-left:350px;
    margin-top: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
  
}
.para{
    margin-left:336px;
    margin-top: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 14px;
    font-weight: 100;
white-space:pre-wrap ;

}
.h11{
    margin-left:340px;
    margin-top: 0px;
    color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-weight: bold;

}
.h11::after{
  padding: 10px;
content: "$169.99";
color: #13121274;
text-decoration: line-through;
padding-top: 30px;
display: inline-block;
font-size: 14px;

}
.button2{
    color: #ffffff;

    background-color: hsl(156, 73%, 13%);
    position: absolute;
    padding-right: 70px;
    padding-left: 40px;
    padding-top: 15px;
padding-bottom: 13px;
margin-left:330px;
margin-top: 9px;

border-radius: 4px;
   border: none;
  cursor: pointer;
  text-align: center;
}
.button2:hover{
    
    background-color:  hsl(156, 73%, 13%);
}
/* .h4{
    margin-left:450px;
text-decoration: line-through;
    margin-top:30px;
 margin-bottom: 0px;
 font-family: Fraunces;
} */
